
<section class="register">
  <h1> Register</h1>

  <div class="form">
    <%= form_for :user, url: '/users' do |f| %>
      <ul class="register"> First name: </ul>
      <ul class="register"><%= f.text_field :first_name %> </ul>
      <ul class="register"> Last name: </ul>
      <ul class="register"><%= f.text_field :last_name %> </ul>
      <ul class="register"> Email: </ul>
      <ul class="register"><%= f.text_field :email %> </ul>
      <ul class="register"> Password: </ul>
      <ul class="register"><%= f.password_field :password %> </ul>
      <ul class="register"> Password Confirmation: </ul>
      <ul class="register"><%= f.password_field :password_confirmation %> </ul>
      <ul class="register"> <%= f.submit "Submit" , {:class=>"btn btn-info"}%> </ul>
    <% end %>

  </div>
</section>