<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>

    <div class="review">
      <%= form_for :review, url: "/products/#{@product.id}/reviews" do |f| %>
        <h2>New review</h2>
        <%= f.label :comment %><br>
        <%= f.text_area :comment %><br>

        <ul class="dropdown">
          <span><%= fa_icon 'star', text: 'rating' %></span>
          <%= f.select :star, ['5 stars', '4 stars', '3 stars', '2 stars', '1 star'] %>
        </ul>

        <%= f.submit "Submit" , {:class=>"btn btn-info"}%>
      <% end %>
      <p>Ratings & reviews</p>
      <% @reviews.each do |review| %>
      <div>
        <% review.rating.to_i.times do  %>
          <span class="glyphicon glyphicon-star"></span>
        <% end %>
        <% review.blank_stars.times do %>
          <span class="glyphicon glyphicon-star-empty"></span>
        <% end %>
        <ul><%= review.comment %></ul>

      </div>
      <% end %>
    </div>

  </article>

</section>
